body
  margin: 0
  font-family: 'Roboto'
  color: white !important

.mainContainer
  width: 100vw
  height: 100vh
  padding: 5vh 10vh
  background-color: #1e2f51
  @media(max-width: 768px)
    padding: 2vh 5vh

.dash-container
  padding: 4px 8px

.home-date-picker
  background-color: white
  border-radius: 8px
  padding: 4px 6px
  margin: 0 10px;

.react-date-picker__wrapper
	border: none !important

.date-column
  @media(max-width: 768px)
    display: flex !important;
    justify-content: center;